:root {
  --sidebar-width: 145px;
}

.contacts {
  padding: 148px 0 85px 0;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  font-size: calc(22px + 28 * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 calc(20px + 65 * ((100vw - 320px) / (1920 - 320))) 0;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 calc(-20px + -30 * ((100vw - 320px) / (1920 - 320)));
}

.contacts__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.contacts__info,
.contacts__form {
  padding: 0 calc(20px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.contacts__form {
  max-width: 600px;
  width: 100%;
}

.contacts__text {
  margin: 0 0 40px 0;
}

.contacts__text:last-child {
  margin: 0;
}

.contacts__subtitle {
  font-size: calc(25px + 5 * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 15px 0;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.socials__item {
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px 0;
}

.socials__icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #fafafa;
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7261ed;
}

.socials__icon .icon-telegram,
.socials__icon .icon-email {
  font-size: 21px;
}

.socials__icon .icon-instagram {
  font-size: 26px;
}

.socials__icon .icon-mobile {
  font-size: 30px;
}

.socials__text {
  font-size: 15px;
  line-height: calc(19/15);
}

.socials__name {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #0e0e0e;
  margin: 0 0 3px 0;
}

.socials__subtext {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: rgba(14, 14, 14, 0.3);
  font-weight: 400;
  white-space: nowrap;
}

.contacts-form__content {
  padding: 30px;
  background: #fafafa;
  -webkit-box-shadow: 0px 4px 15px rgba(114, 97, 237, 0.15);
          box-shadow: 0px 4px 15px rgba(114, 97, 237, 0.15);
  border-radius: 15px;
  min-width: 350px;
}

.contacts-form__title {
  margin: 0 0 25px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(25/20);
  color: #0e0e0e;
}

.contacts-form__input {
  margin: 0 0 15px 0;
}

.contacts-form__input:last-child {
  margin: 0;
}

.contacts-form__input input,
.contacts-form__input textarea {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(114, 97, 237, 0.07);
  font-size: 15px;
  line-height: calc(19/15);
  font-weight: 500;
}

.contacts-form__input input::-webkit-input-placeholder, .contacts-form__input textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contacts-form__input input::-moz-placeholder, .contacts-form__input textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contacts-form__input input:-ms-input-placeholder, .contacts-form__input textarea:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contacts-form__input input::-ms-input-placeholder, .contacts-form__input textarea::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contacts-form__input input::placeholder,
.contacts-form__input textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.contacts-form__input textarea {
  resize: none;
  height: 120px;
}

.contacts-form__input_button button {
  font-weight: bold;
  padding: 15px 55px;
}

@media (min-width: 992px) {
  .socials__item:hover .socials__name,
  .socials__item:hover .socials__subtext {
    color: #7261ed;
  }
}

@media (max-width: 992px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__form {
    margin: 0 0 80px 0;
    max-width: 100%;
  }

  .contacts-form__content {
    min-width: 0;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 70px;
  }

  .contacts-form__title {
    font-size: 18px;
  }
}