.main-screen {
  height: 100vh;
  position: relative;
}

.main-screen:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.32%, #4A19B3), to(#7261ED));
  background: -o-linear-gradient(bottom, #4A19B3 5.32%, #7261ED 100%);
  background: linear-gradient(360deg, #4A19B3 5.32%, #7261ED 100%);
}