.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#7261ED), to(#4A19B3));
  background: -o-linear-gradient(top, #7261ED 0%, #4A19B3 100%);
  background: linear-gradient(180deg, #7261ED 0%, #4A19B3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader__logo {
  width: 92px;
  height: 110px;
  position: relative;
}

.preloader__logo:before {
  content: '';
  height: 80px;
  left: 21.73913%;
  bottom: 27.27273%;
  -webkit-animation: logo-top-first 0.5s ease forwards;
          animation: logo-top-first 0.5s ease forwards;
}

.preloader__logo_first {
  width: 0;
  top: 0;
  right: 73.91304%;
  opacity: 0;
  -webkit-animation: logo-top-second 0.5s ease forwards 0.5s;
          animation: logo-top-second 0.5s ease forwards 0.5s;
}

.preloader__logo_second {
  height: 0;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: logo-top-third 0.5s ease forwards 1s;
          animation: logo-top-third 0.5s ease forwards 1s;
}

.preloader__logo_third {
  width: 0;
  left: 0;
  bottom: 9.09091%;
  opacity: 0;
  -webkit-animation: logo-top-fourth 0.5s ease forwards 1.5s;
          animation: logo-top-fourth 0.5s ease forwards 1.5s;
}

.preloader__logo_fourth {
  left: 10.86957%;
  height: 80px;
  bottom: 18.18182%;
  opacity: 0;
  -webkit-animation: logo-bottom-fourth 0.5s ease forwards 1.5s;
          animation: logo-bottom-fourth 0.5s ease forwards 1.5s;
}

.preloader__logo_fifth {
  right: 0;
  bottom: 18.18182%;
  width: 0;
  opacity: 0;
  -webkit-animation: logo-bottom-third 0.5s ease forwards 1s;
          animation: logo-bottom-third 0.5s ease forwards 1s;
}

.preloader__logo_sixth {
  right: 0;
  bottom: 0;
  height: 0;
  opacity: 0;
  -webkit-animation: logo-bottom-second 0.5s ease forwards 0.5s;
          animation: logo-bottom-second 0.5s ease forwards 0.5s;
}

.preloader__logo:after {
  content: '';
  width: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: logo-bottom-first 0.5s ease forwards;
          animation: logo-bottom-first 0.5s ease forwards;
}

.preloader__text {
  margin: 30px 0 0 0;
  font-size: 15px;
  color: #fafafa;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: logo-text 0.5s ease forwards 2s;
          animation: logo-text 0.5s ease forwards 2s;
}

.preloader__logo:before,
.preloader__logo_first,
.preloader__logo_second,
.preloader__logo_third,
.preloader__logo_fourth,
.preloader__logo_fifth,
.preloader__logo_sixth,
.preloader__logo:after {
  display: block;
  position: absolute;
  border: 2px solid #fafafa;
  border-radius: 3px;
}

@-webkit-keyframes logo-bottom-first {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes logo-bottom-first {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes logo-bottom-second {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 21.81818%;
  }
}

@keyframes logo-bottom-second {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 21.81818%;
  }
}

@-webkit-keyframes logo-bottom-third {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 88.04348%;
  }
}

@keyframes logo-bottom-third {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 88.04348%;
  }
}

@-webkit-keyframes logo-bottom-fourth {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 72.72727%;
  }
}

@keyframes logo-bottom-fourth {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 72.72727%;
  }
}

@-webkit-keyframes logo-top-first {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 72.72727%;
  }
}

@keyframes logo-top-first {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 72.72727%;
  }
}

@-webkit-keyframes logo-top-second {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 26.08696%;
  }
}

@keyframes logo-top-second {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 26.08696%;
  }
}

@-webkit-keyframes logo-top-third {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 90.90909%;
  }
}

@keyframes logo-top-third {
  from {
    height: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    height: 90.90909%;
  }
}

@-webkit-keyframes logo-top-fourth {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 89.13043%;
  }
}

@keyframes logo-top-fourth {
  from {
    width: 0;
    opacity: 1;
  }

  to {
    opacity: 1;
    width: 89.13043%;
  }
}

@-webkit-keyframes logo-text {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes logo-text {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }

  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@media (max-width: 525px) {
  .preloader__text {
    font-size: 12px;
  }
}