:root {
  --sidebar-width: 145px;
}

.start-work {
  padding: 100px 0 70px 0;
}

.start-work__container {
  padding: 0 calc(20px + 80 * ((100vw - 768px)/ (1920 - 768))) 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.start-work__label {
  padding: calc(15px + 10 * ((100vw - 768px) / (1920 - 768))) calc(15px + 30 * ((100vw - 768px) / (1920 - 768))) calc(15px + 10 * ((100vw - 768px) / (1920 - 768))) calc(15px + 75 * ((100vw - 768px) / (1920 - 768)));
  background: -webkit-gradient(linear, left top, right top, from(#4A19B3), to(#7261ED));
  background: -o-linear-gradient(left, #4A19B3 0%, #7261ED 100%);
  background: linear-gradient(90deg, #4A19B3 0%, #7261ED 100%);
  border-radius: 0px 10px 10px 0px;
  font-size: calc(30px + 20 * ((100vw - 768px) / (1920 - 768)));
  line-height: calc(63/50);
  font-weight: bold;
  color: #fafafa;
  max-width: 651px;
  position: relative;
  margin: 0 calc(20px + 65 * ((100vw - 768px) / (1920 - 768))) 0 0;
}

.start-work__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-work__round {
  position: absolute;
  width: 33px;
  height: 33px;
  left: 0;
  background: #4a19b3;
}

.start-work__round:before {
  content: '';
  width: 66px;
  height: 66px;
  position: absolute;
  left: 0;
  background: #fafafa;
  border-radius: 50%;
}

.start-work__round:first-child {
  top: 100%;
}

.start-work__round:first-child:before {
  top: 0;
}

.start-work__round:last-child {
  bottom: 100%;
}

.start-work__round:last-child:before {
  bottom: 0;
}

.start-work__btn {
  max-width: 337px;
  width: 100%;
  margin: 16px 0 0 0;
}

.start-work__btn button {
  width: 100%;
}

@media (max-width: 768px) {
  :root {
    --sidebar-width: 70px;
  }

  .start-work {
    padding: 40px 0 50px 0;
  }

  .start-work__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
  }

  .start-work__label {
    margin: 0 0 40px 0;
    padding: 35px;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
  }

  .start-work__form {
    width: 100%;
  }

  .start-work__round {
    display: none;
  }
}